body {
  background-color: #f4f6f6;
  color: #696464;
}

hr {
  border-color: #ff9c91;
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #ff5858;
}

h3 {
  padding: 5px 10px;
  color: white;
  background-color: #ff5858;
}
